
<main>
  <article>
   <div id="current">
     <h3>The Odin <%= link_to "Ruby Study", "http://www.theodinproject.com/studygroups" %> Track</h3>

      <p>This is a free weekly study group, we went through <%= link_to "The Odin Project", "http://www.theodinproject.com/courses" %> from beginning to end. Video archive is available <%= link_to "here", "https://www.youtube.com/playlist?list=PLk2OOH9M7Vui3hTIyMihIA6FjFDicy-02"%>. </p>

      <h3>What are we working on now?</h3>

      <div id="what-image">
        <img src="https://pbs.twimg.com/media/BsLhTHLCUAArjuy.jpg:small">
      </div>

      <p>I'm a Ruby Newbie. But if you have more experience please feel free to join up, it will be greatly appreciated. The schedule is posted and will proceed as a biweekly meeting to review the Well Grounded Rubyst book.</p>
      <p>I have personally completed several tutorials in Rails(framework for Ruby), but I am looking to increase my increase my experience with the Ruby Lang and looking for anyone else who is interested learning Ruby with me.</p>


      <a href="https://plus.google.com/u/0/102551882338253835993/posts">
            <div class="picto" id="gplus"></div>
      </a>
      <a href="https://github.com/brianllamar/rubynewb">
            <div class="picto" id="github"></div>
      </a>
      <a href="https://twitter.com/brianllamar">
            <div class="picto" id="twitter"></div>
      </a>
      <a href="http://www.theodinproject.com/home">
            <div class="picto" id="odin"></div>
      </a>

      <strong><p>Featured Ruby Newbie: <a href="https://twitter.com/brianllamar">Brian</a></p></strong>
      <strong><p>The assistant: <a href="https://plus.google.com/b/102551882338253835993/102551882338253835993/posts">"Accepting Applicants!!!"</a></strong> If would like to assist in notes or provide regular input.</p>
  </div>

  </article>
  <aside>
    <h4>Schedule</h4>
    <p>Sunday Evening "WGR Book Club"
    <%= link_to "Events", "https://plus.google.com/b/102551882338253835993/events" %>.</p>
    <p>We occasionally do some <%= link_to "Practice Practice Sessions","https://plus.google.com/b/102551882338253835993/events" %> during the week.</p>

    <iframe src="https://www.google.com/calendar/embed?src=9ciuegse13t8j292s6iimu5oto%40group.calendar.google.com&ctz=America/New_York" ></iframe>
  <div id="important" >
    <h4>Prerequisites</h4>

       <p>The Odin <%= link_to "Study Groups", "http://www.theodinproject.com/studygroups" %> Track
       </p>
       <p>Read the <%= link_to "Getting started guide", "https://gist.github.com/brianllamar/11261930#file-week0-md" %>.
       </p>
     </ul>
  </div>
  </aside>
</main>
