
<main>
  <article>
   <div id="current"> 
     <h3>The Odin <%= link_to "Ruby Study", "http://www.theodinproject.com/studygroups" %> Track</h3>

      <p>This is a free weekly study group on Monday at 10pm EST, but will also present an earlier event for any 'Europeans or non standard US timezones individuals' who would like to join. We will be working through  <%= link_to "The Odin Project", "http://www.theodinproject.com/courses" %> from beginning to end.</p>

      <p>During the week, we will be working through the curriculum 
      independently, and completed projects are due on the date of our next meeting. During our study group meetings, we can show our completed projects, discuss questions, and keep each other motivated.</p>

      <p>I'm a Ruby Newbie. But if you have more experience please feel free to join up, it will be greatly appreciated. The final schedule is posted and will be mirror the curriculum structure and be completed within 10 weeks depending on everyone's pace.</p>
      <p>I have personally completed several tutorials in Rails(framework for Ruby), but I am looking to increase my increase my experience with the Ruby Lang and looking for anyone else who is interested learning Ruby with me.</p>

      <p> Note: Yes, there are two hangouts and will be as long as I can get 12 rsvps for the Daytime event, so please invite anyone who is interested. </p>
       
      <%= link_to image_tag("gplus_red.png",height: '50px', alt: "Google Plus", id: 'gplus'), "https://plus.google.com/u/0/102551882338253835993/posts" %>
      <%= link_to image_tag("github_light.png",height: '50px', alt: "Twitter"), "https://github.com/brianllamar/rubynewb" %>
      <%= link_to image_tag("twitter_blue.png",height: '50px', alt: "Twitter"), "https://twitter.com/brianllamar" %>
      
      <strong><p>Featured Ruby Newbie: <a href="https://twitter.com/brianllamar">Brian</a></p></strong>
      <strong><p>The assistant: <a href="https://plus.google.com/b/102551882338253835993/102551882338253835993/posts">"Accepting Applicants!!!"</a></strong> If would like to assist in notes or provide regular input.</p>
  </div>  

  <div id="important" >
    <h4>Prerequisites</h4>

       <p>Be familiar enough the info in the Web 101 track and possibly Git. If you're not, 
       at least read through the first section of
         <%= link_to "Web Dev 101 ", "http://www.theodinproject.com/courses/web-development-101/lessons" %>
         sections.
       </p>
       <p>Read the <%= link_to "Getting started guide", "https://gist.github.com/brianllamar/11261930#file-week0-md" %>.
       </p>
     </ul>
  </div>
  </article>
  <aside>
    <h4>Schedule</h4>
    <p>Mondays at 12pm and 10pm est </p>
    <iframe src="https://www.google.com/calendar/embed?src=9ciuegse13t8j292s6iimu5oto%40group.calendar.google.com&ctz=America/New_York" ></iframe>
  </aside>
</main>
