<footer>
	<div id="footer-wrapper">
	 	<div id="links">
	 		<p>Ruby Newbies</a> by <%= link_to "Brian", "http://brianllamar.com"%></p>
	  	<p><%= link_to "More Study Groups", "http://www.theodinproject.com/studygroups" %></p>
	  </div>

	  <nav>
	  	<ul>
	  		<li><%= link_to "home", root_path %></li>
    		<li><%= link_to "g+ community", "https://plus.google.com/communities/115473914992534971842", target: "_blank" %></li>
    		<li><%= link_to "archive", "https://www.youtube.com/channel/UCSn-Mw5Ikxa1A_2LYo42SJQ/playlists", target: "_blank"  %></li>
	  	</ul>
	  </nav>
  </div>

</footer>
