<footer class=".site-footer">
	<div id="footer-wrapper">
	 	<div id="links">
	 		<p>Ruby Newbies</a> by <%= link_to "Brian", "http://brianllamar.com", target: "_blank" %></p>
	  	<p><%= link_to "More Study Groups", "http://www.theodinproject.com/studygroups" %></p>
	  </div>

	  <nav>
	  	<ul>
	  		<li><%= link_to "home", root_path %></li>
    		<li><%= link_to "g+ community", "https://plus.google.com/communities/115473914992534971842", target: "_blank" %></li>
    		<li><%= link_to "archive", "https://www.youtube.com/channel/UCSn-Mw5Ikxa1A_2LYo42SJQ/playlists", target: "_blank"  %></li>
        <% if current_admin %>
          <li><%= link_to "LOGOUT", destroy_admin_session_path, method: :delete, class: 'btn btn-mini'  %></li>
        <% else %>
          <li><%= link_to "login", new_admin_session_path, class: 'btn btn-mini'  %></li>
        <% end %>
	  	</ul>
	  </nav>
  </div>

</footer>
