<header>
  <nav>
  <div id="logo">
    <%= link_to image_tag("http://i.imgur.com/MeEYoX4.png"), root_path %>
    <p>"Helping people code out of cardboard boxes"</p>
  </div>

  <nav>
  <ul id="header-nav">
    <% if current_admin %>
      <li><%= link_to "LOGOUT", destroy_admin_session_path, method: :delete, class: 'btn btn-mini'  %></li>
    <% end %>
    <!-- add blog link when error is found->
    <!-- <li><%= link_to "blog", blog_posts_path %></li> -->
    <li><%= link_to "g+ community", "https://plus.google.com/communities/115473914992534971842" , target: "_blank" %></li>
    <li><%= link_to "archive", "https://www.youtube.com/channel/UCSn-Mw5Ikxa1A_2LYo42SJQ/playlists", target: "_blank" %></li>
  </ul>
  </nav>
</header>
